node_modules
.bun
.turbo
.DS_Store
*.log
*.tsbuildinfo
apps/*/dist
.astro
packages/*/dist
.env
.env.local
.env.development
build/
.logs/
release/
release-mock/
.t3
userdata/
.idea/
apps/web/.playwright
apps/web/playwright-report
apps/web/src/components/__screenshots__
.vitest-*
__screenshots__/
.tanstack
.skills/
.agents/
.agents/skills
